- if object.errors.any?
  %section.errors
    %h3 Oops! Your form could not be saved!
    %p Please correct the following #{pluralize(object.errors.count, "error")}:
    %ul
    - object.errors.full_messages.each do |message|
      %li= message