- if @event.errors.any?
  %section.errors
    %h3 Oops! Your form could not be saved!
    %p Please correct the following #{pluralize(@event.errors.count, "error")}:
    %ul
    - @event.errors.full_messages.each do |message|
      %li= message