// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.project {
  display: inline-block;
  margin-right: 20px;
  max-width: 300px;
  vertical-align: top;

  img {
    max-width: 300px;
    max-height: 150px;
    height: auto;
  }

  a {
    color: $dark-grey;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: $medium-grey
  }

  th {
    // text-transform: uppercase;
  }
}

.main .project:nth-child(3n+4) {
  margin-right: 0;
}

th {
  text-align: left;
}
