// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

article.movie {
  border-bottom: 1px solid $secondary-color;
  clear: left;
  margin-bottom: 10px;

  a {
    color: $primary-color;

    &:hover {
      color: lighten($primary-color, 10%);
    }

    &:active {
      color: darken($primary-color, 10%);
    }
  }

  img {
    border: 3px solid $secondary-color;
    float: left;
    margin-right: 10px;
    max-width: 150px;
    height: auto;
  }

  th {
    text-align: left;
  }
}

input, textarea {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}
