%article#user
  %header
    %h1= @user.name
    %h2= @user.email
  %footer
    %nav
      = link_to "Edit Account", edit_user_path(@user), class: "button"
      = link_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure?" }, class: "button"
