-if object.errors.any?
  %section.errors
    %h3 Oops! The #{object.class.name.titleize.downcase} could not be saved.
    %p Please correct the folowing #{pluralize(object.errors.count, "error")}:
    %ul
      -object.errors.full_messages.each do |message|
        %li= message
